
<%= simple_form_for(@oenologist) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :age %>
    <%= f.input :country %>
    <%= f.input :writer %>
    <%= f.input :viewer %>
    <%= f.input :editor %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
