<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @oenologist.name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @oenologist.age %>
</p>

<p>
  <strong>Country:</strong>
  <%= @oenologist.country %>
</p>

<p>
  <strong>Writer:</strong>
  <%= @oenologist.writer %>
</p>

<p>
  <strong>Viewer:</strong>
  <%= @oenologist.viewer %>
</p>

<p>
  <strong>Editor:</strong>
  <%= @oenologist.editor %>
</p>

<%= link_to 'Edit', edit_oenologist_path(@oenologist) %> |
<%= link_to 'Back', oenologists_path %>
